* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
#background1 {
    background-color: #8CC461;
    height: 100vh;
    width: 100vw;
    display: flex; /* flex */
    flex-direction: column;
    align-items: center;
}
#scoreboard {
    height: 20%;
    width: 47%;
    border: 2.5px solid #FFFFFF;
    border-radius: 13px;
    margin-top: 70px;
    display: flex; /* flex */
    justify-content: space-between;
}
#title {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-align: left;
    height: 100%;
    margin-left: 20px;
    margin-top: 5px;
}
#scores {
    height: 100%;
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}
#computerscore {
    height: 110px;
    width: 120px;
    background-color: #FFFFFF;
    border-radius: 9px;
    text-align: center;
}
#yourscore {
    height: 110px;
    width: 120px;
    background-color: #FFFFFF;
    border-radius: 9px;
    text-align: center;
}
#computerscore p {
    color: #656565;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.1em;
    margin-top: 7px;
}
#yourscore p {
    color: #656565;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.1em;
    margin-top: 7px;
}
#computerscore div {
    color: #252525;
    font-family: Roboto;
    font-size: 3.7rem;
    font-weight: 700;
    line-height: 60px;
}
#yourscore div {
    color: #252525;
    font-family: Roboto;
    font-size: 3.7rem;
    font-weight: 700;
    line-height: 60px;
}
#yourOptions {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;
    height: 45%;
    width: 24%;
    margin-top: 100px;
    display: flex; /* flex */
    justify-content: space-between;
    background-image: url("triangle.png");
    flex-direction: column;
}
.ellipse {
    height: 103px;
    width: 119px;
    border-radius: 50%;
    box-shadow: 3px 0px 21px 1px #00000033 inset;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ellipse:hover {
    background-color: hsl(0, 0%, 95%);
}
.ellipse:active {
    background-color: hsl(0, 0%, 90%);
}
#stone {
    height: 135px;
    width: 135px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 16px solid #0074B6;
    box-shadow: -1px 1px 11px 0px #00000059;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scissors {
    height: 135px;
    width: 135px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 16px solid #BD00FF;
    box-shadow: -1px 1px 11px 0px #00000059;
    display: flex;
    justify-content: center;
    align-items: center;
}
#row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 135px;
    width: 100%;
}
#row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
    width: 100%;
}
#paper {
    height: 135px;
    width: 135px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    border: 16px solid #FFA943;
    box-shadow: -1px 1px 11px 0px #00000059;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    cursor: pointer;
    transition: 0.2s all;
}
.circle:active { 
    transform: scale(0.90);
}
#bottomButtons {
    position: fixed;
    height: 45px;
    width: 40%;
    right: 2rem;
    bottom: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
}
.bottomBtn {
    height: 45px;
    width: 130px;
    background-color: transparent;
    outline: none;
    border: 2.5px solid #FFFFFF;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 24.61px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s all;
}
#open-rules {
    outline: none;
}
.bottomBtn:hover {
    background-color: hsl(94, 46%, 62%);
}
.bottomBtn:active {
    transform: scale(0.90);
    background-color: hsl(94, 46%, 67%);
}
#open-hurray {
    margin-left: 2rem;
    display: none; /* block */
}
#rules {
    display: none;
    height: 49%;
    width: 20%;
    background-color: none;
    position: fixed;
    right: 10px;
    bottom: 90px;
}
#rules-container {
    height: 91%;
    width: 90%;
    margin-top: 30px;
    background-color: #004429;
    border: 7px solid #FFFFFF;
    border-radius: 13px;
}
#close-rules {
    position: absolute;
    right: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    outline: none;
    font-family: "Dangrek", sans-serif;
    font-family: Dangrek;
    font-size: 44px;
    font-weight: 400;
    line-height: 79.49px;
    background-color: #FF0000;
    border: 5px solid #FFFFFF;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all;
}
#close-rules:active {
    transform: scale(0.90);
}
#header {
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 29px;
    font-weight: 500;
    line-height: 33.98px;
    color: #FFFFFF;
}
#rules-content {
    height: 80%;
    width: 100%;

}
#rules-content ul {
    margin-left: 20px;
    margin-right: 10px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    list-style-type: none;
    padding-left: 0;
}
#rules-content ul li {
    position: relative;
    color: #FFFFFF;
    padding-left: 20px;
}
.bullet::before {
    content: "■";
    color: yellow;
    position: absolute;
    left: 0;
    font-size: 16px;
}
#result {
    height: 37%;
    width: 48%;
    margin-top: 7rem;
    display: none; /* flex */
}
#youPickedCon {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#referee {
    height: 100%;
    width: 40%;
    text-align: center;
}
#pcPickedCon {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#pcPickedCon p, #youPickedCon p {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 19.92px;
    letter-spacing: 0.1em;
}
#playAgain1 {
    margin-top: 20px;
}
.playAgain {
    border: none;
    width: 130px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 9px;
    color: #6B6B6B;
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 17.58px;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.2s all;
}
.playAgain:hover {
    background-color: hsl(0, 0%, 95%);
}
.playAgain:active {
    transform: scale(0.90);
    background-color: hsl(0, 0%, 90%);
}
#youWin {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 800;
    line-height: 45.7px;
    letter-spacing: 0.1em;
    margin-top: 40%;
}
#against {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 29.3px;
    letter-spacing: 0.1em;
}
#stone2 {
    border: 16px solid #0074B6;
    display: flex; /* flex */
}
#paper2 {
    border: 16px solid #FFA943;
    display: flex; /* flex */
}
#scissors2 {
    border: 16px solid #BD00FF;
    display: flex; /* flex */
}
.circle2 {
    border-radius: 50%;
    background-color: #1DA82B;
    width: 160px;
    height: 160px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}
.animation1 {
    bottom: 19.5%;
    left: 28%;
    display: none; /* block */
    animation-delay: 0s;
}
.animation2 {
    bottom: 19.5%;
    right: 28%;
    display: none; /* block */
    animation-delay: 0s;
}
@keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
}
.picked {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: -1px 1px 11px 0px #00000059;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}
#background2 {
    background-color: #8CC461;
    height: 100vh;
    width: 100vw;
    display: none; /* flex */
    flex-direction: column;
}
#trophyAndStars {
    height: 45%;
    margin-top: 10vh;
    background-image: url("stars.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28rem 17rem;
    display: flex;
    justify-content: center;
    align-items: end;
}
#trophyAndStars img {
    height: 11rem;
    width: 11rem;
    margin-bottom: 0.6rem;
}
#textContent {
    height: 45%;
    text-align: center;
}
#playAgain2 {
    margin-top: 3.3rem;
}
#hurray {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 5rem;
    font-weight: 600;
    line-height: 106.64px;
    letter-spacing: 0.1em;
    margin-top: 1rem;
}
#wonGame {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 48.05px;
    letter-spacing: 0.1em;
}